@page "{Id?}"
@model ImperialIMS.Pages.Admin.UsersModel
@{
}
Show all users and their current roles
Have a drop down to change the role of each user
Submit button at the bottom
<div class="container">
    <div id="users">
        @foreach (var user in Model.Users)
        {
            <div class="user">
                <h3>@user.UserName</h3>
                <p>Current Role: @user.Role</p>
                <form method="post" asp-page-handler="ChangeRole">
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <select name="NewRole" class="form-select">
                        <option value="">-- Select a new role --</option>
                        @foreach (var role in Model.Roles)
                        {
                            <option value="@role">@role</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Change Role</button>
                </form>
            </div>
        }
    </div>
</div>